<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>LabibaBotFramework</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to take personal photos , scan QR-Codes and many other features </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used to direct you to the location of the experience</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location will be displayed on the map and used to direct you to the location of the experience</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone will be used to record your speech allowing you to use your voice to search for destinations, activities, events and more</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into the device’s microphone</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>cairo-_bold.ttf</string>
		<string>cairo_regular.ttf</string>
		<string>cairo_light.ttf</string>
		<string>TheSans-Plain.otf</string>
		<string>TheSans-Bold.otf</string>
		<string>din_next_arabic_regular.ttf</string>
		<string>din_next_arabic_light.ttf</string>
		<string>din_next_arabic_bold.ttf</string>
		<string>ITC Avant Garde Gothic Bold.otf</string>
		<string>ITC Avant Garde Gothic Medium.otf</string>
	</array>
</dict>
</plist>
